.primary-button {
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #f9fafb;
  background-color: #007bff;
  border-radius: 0.25rem;
  padding: 0.5rem 1em;
  transition: all 0.2s ease-in-out;;
  width: 100%;

  &:hover,
  &:focus {
    background-color: darken(#007bff, 10%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
